:root {
  // Device witdh
  --mobile: 375px;
  --desktop: 1440px;

  // // Colors
  // Primary

  --color-primary: hsl(158, 36%, 37%);

  --color-secondary: hsl(30, 38%, 92%);

  // Neutral

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  // // Typography

  // Body Copy
  --default-font-size: 14px;

  // Font

  --font-style-primary: "Montserrat", sans-serif;
  --font-style-secondary: "Fraunces", serif;
}
body {
  margin: 0;
  font-family: var(--font-style-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
